# Important: refer to README.md in order to set these values on your own .env file

# Telegram credentials
BOT_TOKEN=111111111:AAAAAAAAAAA-bbbbbbbbbbbbbbbbbbbbbbb

# Firebase credentials
ROUTER_URL=https://us-central1-your-project-id.cloudfunctions.net/router/

# Ticktick credentials
TICKTICK_EMAIL=XXX
TICKTICK_PASSWORD=YYY

# Trello credentials
TRELLO_API_KEY=0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a
TRELLO_USER_TOKEN=0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c
TRELLO_BOARD_ID=1b1b1b1b1b1b1b1b1b1b1b1b

# Security options
TELEGRAM_USER_ID=299893686
