# Important: refer to README.md in order to set these values on your own .env file

# Telegram credentials
BOT_TOKEN=111111111:AAAAAAAAAAA-bbbbbbbbbbbbbbbbbbbbbbb

# Firebase credentials
ROUTER_URL=https://us-central1-your-project-id.cloudfunctions.net/router/

# Trello credentials (visit trello.com/app-key to get a token and app key)
TRELLO_API_KEY=0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a
TRELLO_USER_TOKEN=0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c
